services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel


  node:
    image: node:20-alpine
    working_dir: /var/www
    volumes:
      - ./:/var/www
    command: sh -lc "npm ci && npm run build"

  spring-api:
    build:
      context: /opt/financialPlaning
      dockerfile: Dockerfile
    container_name: spring_api
    ports:
      - "8082:8082"
    networks:
      - laravel

networks:
  laravel:
